<%= link_to "Back", "/" %>

<% content_for :title do %>
  <%= @cocktail.name %>
<% end %>

<h2><%= @cocktail.name %></h2>
<ul>
  <% @cocktail.doses.each do |review| %>
    <li><%= review.description %> of <%= review.ingredient.name %></li>
  <% end %>
</ul>

<% if current_user == @cocktail.user %>
  <%= link_to "New dose", new_cocktail_dose_path(@cocktail) %>
  <%= link_to "Delete cocktail", @cocktail, method: :delete %>
<% end %>
