<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= locals[:image] -%>');">
  <div class="card-category"><%= locals[:category] -%></div>
  <div class="card-description">
    <h2><%= locals[:title] -%></h2>
    <p><%= locals[:description] -%></p>
  </div>
  <a class="card-link" href="<%= locals[:url] -%>" ></a>
</div>
